.input {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--blue-2);
  border-radius: 3px;
  font-family: var(--font-sans);
  font-size: 0.9rem;
  color: var(--light);
  background-color: var(--dark-3);
  outline: none;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.input:focus {
  border-color: var(--blue-1);
  background-color: var(--dark-4);
}

.input::placeholder {
  color: var(--light);
  opacity: 0.7;
}
